body {
  width: 100vw;
  height: 200vh;
  background-color: rgb(132, 104, 104);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.header1 {
  width: 100vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  position: fixed;
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}
.span1 {
  font-size: 25px;
}
.ol1 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.ul1 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  list-style: none;
  @media (max-width: 680px) {
    display: none;
  }
}
.section1 {
  display: flex;
  margin-top: 120px;
  font-size: 40px;
}
.section2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 30px;
  /* margin-top: 100px; */
}
.table1 {
  width: 500px;
  margin-left: 30%;
}
blockquote:hover {
  cursor: pointer;
}
blockquote::after {
  content: attr(cite);
  display: none;
  background-color: rgba(131, 132, 151, 0.379);
  width: fit-content;
  border-radius: 3px;
}
blockquote:hover::after {
  display: flex;
}
/* a selectors */
.section3 {
  a:link {
    color: black;
    /* background-color: rgba(169, 169, 169, 0.395); */
    text-decoration: none;
  }
  a:visited {
    color: rgb(129, 0, 0);
  }
  a:hover {
    color: rgb(0, 0, 82);
    cursor: pointer;
  }
  a:active {
    color: aliceblue;
  }
}
footer {
  display: flex;
  flex-direction: column;
}
.button1 {
  /* padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px; */
  border-width: 6px;
  border-color: brown;
  background-color: black;
  color: aqua;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  a:link {
    color: aqua;
  }
}
.section4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.backImage {
  display: flex;
  background-image: url("/src/images/catAndFish.jpg");
  width: 100vw;
  height: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* background-color: black; */
}
.section5 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.image1 {
  width: 100vw;
  height: 100px;
  object-fit: cover;
}
.image2 {
  object-fit: fill;
}
picture {
  display: flex;
  justify-content: center;
}
.hamburgerMenu {
  display: none;
  width: 50px;
  height: 50px;
  @media (max-width: 680px) {
    display: flex;
  }
}
